.element__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.element__heart:hover {
  opacity: 0.5;
}
