.element__image {
  border-radius: 10px 10px 0 0;
  height: 282px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.4s;
}

.element__image:hover {
  cursor: pointer;
  opacity: .5;
  transition: opacity 0.4s;

}
